* {
    box-sizing: border-box;
}
body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
  }
header {
    background-color: rgb(108, 194, 216);
    padding: 30px;
    text-align: center;
    font-size: 35px;
    color: white;
}

nav {
    float: left;
    width: 15%;
    height: 800px;
    background: rgb(162, 224, 240);
    padding: 20px;
    padding-left: 10px;
}

nav ul {
    list-style-type: none;
    padding: 0;
  }

  article {
    float: left;
    padding: 30px;
    padding-left: 15px;
    width: 85%;
    background-color: rgb(147, 213, 229);
    height: 800px; 
  }

  section::after {
    content: "";
    display: table;
    clear: both;
  }

.imgg {
  float: left;
}

.text {
  padding-left: 410px;
}
.linkki {
  padding-left: 10px;
}